body{
	background-image: url('/assets/img/index.jpg');
	//background-position: center;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	 background-size: cover;
  	 background-repeat: no-repeat;
}
#black{
	background-color: black;
	color: white;
	height: 100px;
	border-bottom: 5px solid #FC5700;

}
#darkdark{
	background-color: rgba(0,0,0,0.3);
	height:300px;
	margin-top:-300px;
}
table td {
    padding-left: 10px;
    width: 920px;
}
#linkid{
	color: white;
}
#h1{
	font-size: 50px;
	color: red;
}
#loginfo{

	margin-top:-85px;
	margin-left: 590px;
	overflow: hidden;
}
#qoutes{

font-size: 40px;
color: white;
text-align: center;
margin-top: 190px;

}


#container{
	z-index:1;
	margin: 0 auto;
	width:1024px;	
}

#title{
	font-size: 30px;
	margin-bottom: 10px;
}

#btn{
	
	background-color: black;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: blue;
}
label{
	color:white;
}